<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <h1>Adicionar user</h1>
    <form action="/user/save" method="post">

        <div>
          <input type="text" name="name" placeholder="Insira o nome de usuario" id="">
        </div>

        <div>
          <input type="text" name="age" placeholder="Insira a idade" id="">
        </div>

        <div>
            <button type="submit">Enviar</button>
        </div>
       

    </form>
    
</body>
</html>