<h1>Registre um livro:</h1>
<form action="/books/registerbook">
  <div class="form-control">
    <label for="title">Titulo:</label>
    <input type="text" name="title" placeholder="Digite o titulo">
  </div>
  <div class="form-control">
    <label for="pageqnt">Quantidade de paginas:</label>
    <input type="text" name="title" placeholder="Digite a quantidade de paginas">
  </div>

  <div class="form-control">
    <input type="submit" value="Registrar">
  </div>
</form>