/* imports */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* imports */

/* scroll */
::-webkit-scrollbar-thumb {
  background-color: var(--colorido);
}

::-webkit-scrollbar {
  display: none;
}
/* scroll */

/* pre definicao padrao */
* {
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  font-style: normal;
  font-family: "Poppins";
  margin: 0;

  transition: all 0.2s ease-in-out;
  text-decoration: none;
  letter-spacing: 0.5px;
  resize: none;
  outline: none;
  border: 0;
  color: var(--corTexto);
  scroll-behavior: smooth;
}
/* pre definicao padrao */

/* root */
:root {
  --corTexto: #fff;
  --corFundo: #111;
  --colorido: #6373cd;
}
/* root */

main {
  background-color: var(--corFundo);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  min-height: 10%;
  max-height: 65%;
  width: 25%;
  padding: 3rem;
  border-radius: 11px;
  background-color: var(--colorido);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
}

.addTask {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.name {
  width: 80%;
  padding: 0.8rem;
  background-color: var(--corTexto);
  color: var(--corFundo);
  border-radius: 4px;
}

button {
  width: 15%;
  padding: 0.8rem;
  background-color: var(--corTexto);
  border-radius: 4px;
  cursor: pointer;
}

button i {
  color: var(--colorido);
}

.tasks {
  display: flex;
  gap: 1rem;
  overflow-y: scroll;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.task {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}
