<h1>Criação de tarefa</h1>
<form action="/tasks/add" method="post">

  <div class="form-control">
    <label for="title">Título</label>
    <input type="text" name="title" placeholder="Título da tarefa">
  </div>

  <div class="form-control">
    <label for="description">Descrição</label>
    <textarea name="description" rows="3" placeholder="Descreva a tarefa"rows="100"></textarea>
  </div>

  <div class="form-control">
    <input type="submit" class = 'btn-submit' value="Criar tarefa">
  </div>
</form>