@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

::-webkit-scrollbar-thumb {
  background-color: var(--colorido);
  border-radius: 6px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: var(--corFundo);
}

* {
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  font-style: normal;
  font-family: "Rubik";
  margin: 0;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  letter-spacing: 0.5px;
  resize: none;
  outline: none;
  border: 0;
  color: var(--corTexto);
  scroll-behavior: smooth;
}

:root {
  --corTexto: #e3e3e3;
  --corFundo: #111;
  --colorido: #5e8ec5;
  --corCinza: #333;
  --corError: #c55e5e;
}

 
nav, footer{
  height: 7%;
  background-color: var(--corFundo);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.8cqh;
}

nav ul{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 1cqh;
  padding: 0;
}

.nav-footer{
  padding: 0;
}

main{
  width: 100%;
  height: 93%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2cqh;
  background-color: var(--corFundo);
}

main h1{
  color: var(--colorido);
}

/* auth */ 

form{
  display: flex;
  align-items: center;
  gap: 1.5cqh;
  flex-direction: column;
  width: 100%;
}

form .form-control{
  width: 40%;
}

fieldset {
  padding: 0 1cqh;
  border: 2px solid var(--corCinza);
  border-radius: 7px;
  transition: border-color all 0.3s ease-in-out
}

fieldset legend {
  padding: 0 1cqh;
}

fieldset input {
  background-color: transparent;
  padding: 1cqh;
  width: 100%;
  font-size: 1rem;
}

fieldset:focus-within {
  border-color: var(--colorido);
}


form .form-control button{
  width: 100%;
  padding: 1.4cqh;
  border: 2px solid var(--corCinza);
  border-radius: 7px;
  background-color: transparent;
  font-weight: 600;
  font-size: 1.6cqh;
  cursor: pointer;
}

form .form-control button:hover{
  border-color: var(--corTexto);
  background-color: var(--corTexto);
  color: var(--corFundo);
}

.flashError{ 
  color: var(--corError);
  font-weight: 400;
}

.flashSucces{ 
  color: var(--colorido);
  font-weight: 400;
}


.colored{
  color: var(--colorido);
}

@media screen and (max-width: 500px) {
  nav, footer{
    font-size: 3cqw;
  }
}