@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

::-webkit-scrollbar-thumb {
  background-color: var(--colorido);
  border-radius: 6px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: var(--corFundo);
}

* {
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  font-style: normal;
  font-family: "Rubik";
  margin: 0;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  letter-spacing: 0.5px;
  resize: none;
  outline: none;
  border: 0;
  color: var(--corTexto);
  scroll-behavior: smooth;
}

:root {
  --corTexto: #e3e3e3;
  --corFundo: #111;
  --colorido: #5e8ec5;
  --corCinza: #333;
  --corError: #c55e5e;
  --corSucesso: #5e8e76;
}

 
nav, footer{
  height: 7%;
  background-color: var(--corFundo);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.8cqh;
}



nav ul{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 1cqh;
  padding: 0;
}


.nav-footer{
  padding: 0;
}

main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2cqh;
  background-color: var(--corFundo);
}

main h1{
  color: var(--colorido);
}

/* auth */ 

form{
  display: flex;
  align-items: center;
  gap: 1.5cqh;
  flex-direction: column;
  width: 100%;
}

form .form-control{
  width: 40%;
}

fieldset {
  padding: 0 1cqh;
  border: 2px solid var(--corCinza);
  border-radius: 7px;
  transition: border-color all 0.3s ease-in-out
}

fieldset legend {
  padding: 0 1cqh;
}

fieldset input, textarea{
  background-color: transparent;
  padding: 1cqh;
  width: 100%;
  font-size: 1rem;
}


fieldset:focus-within {
  border-color: var(--colorido);
}

.postField{
  padding: 1cqh 0.5cqh;
  max-width: 100%; 
  max-height: 720px; 
  border: 2px solid var(--corCinza);
  border-radius: 7px;
  transition: border-color all 0.3s ease-in-out;
}

.postField textarea{
  min-height: 24px; 
  max-height: 720px;
  resize: none;
  overflow-y: scroll;

  }

.form-error{
  padding: 1cqh 0;
}

.flashError, .flashError i{ 
  color: var(--corError);
}

.flashSucces{ 
  color: var(--corSucesso);
  font-weight: 400;
}


.colored{
  color: var(--colorido);
}


.post-dash {
  width: 90%;
}

.post-dash li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 7vh;
  width: 100%;
  padding: 1vh 0;
  border-bottom: 1px solid var(--colorido);
}

.post-dash li .post-title {
  width: 70%;
  word-wrap: break-word;
}

.post-dash li .post-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 25%;
}

.post-dash li .post-actions a, .post-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  width: 40%;
  border-radius: 5px;
}

.post-dash li .post-actions a:hover, .post-form:hover {
  background-color: #ffffff19;
  cursor: pointer;
}

.post-dash li .post-actions a:hover {
  color: var(--prlp);
}

.post-dash li .post-actions .post-form:hover button {
  color: rgb(236, 60, 60);
}

.post-dash li .post-actions .post-form button {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;
}

.post-home {
  width: 90%;
}

.post-home li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 15vh;
  width: 100%;
  padding: 3vh 0;
  border-bottom: 1px solid var(--corCinza);
}

.post-home li:hover{
  border-bottom: 1px solid var(--colorido);
  
}

.post-home li .home-title {
  font-size: 1.4rem;
  font-weight: 600;
  word-wrap: break-word;
  width: 95%;
}

.post-home li .home-row p span {
  font-size: 0.9rem;
  font-weight: 600;
}

.post-home li .home-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 90%;
  gap: 1em;
}

.post-home li .home-row p {
  font-size: 0.8rem;
  color: rgb(162, 162, 162);
}

.desc {
  font-size: 0.9rem;
  color: rgb(162, 162, 162);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 38%;
}

.row form button {
  padding: 1vh 1vw;
  background-color: transparent;
  border-radius: 5px;
}

.row form button:hover {
  background-color: #ffffff19;
  cursor: pointer;
  color: var(--colorido);
}

.row form button:hover i {
  color: var(--colorido);
}

.row a {
  color: var(--colorido);
  font-size: 0.9rem;
  text-decoration: underline;
}

.form{ 
  flex-direction: row;
  justify-content: center;
}


.src{
  width: 5cqw;
  height: 25%;
  padding: 1cqh;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
}


@media screen and (max-width: 1000px) {
  nav, footer{
    font-size: 1.5cqh;
  }

  form .form-control{
    width: 80%;
  }

  fieldset, form .form-control button{
    border: 1px solid var(--corCinza);
  }

  .flashError, legend, fieldset input, .form-control span{
    font-size: 2cqh
  }
}



