<h1>Ola sequelize</h1>
<h2>Usuarios cadastrados</h2>
<div class="users">
  {{#each users}}
    <div class="user">
      <p>Nome: {{this.name}}</p>
      <p>Profissão: {{this.occupation}}</p>
    </div>
  {{/each}}
</div>
