<h1>Register</h1>
<form action="/register" method="post">

  <div class="form-control">
    <fieldset>
      <legend>Username</legend>
      <input type="text" placeholder="..." required>
    </fieldset>
  </div>

  <div class="form-control">
    <fieldset>
      <legend>Email</legend>
      <input type="email" placeholder="..." required>
    </fieldset>
  </div>

  <div class="form-control">
    <fieldset>
      <legend>Password</legend>
      <input type="password" placeholder="..." required>
    </fieldset>
  </div>

  <div class="form-control">
    <fieldset>
      <legend>Confirm your password</legend>
      <input type="password" placeholder="..." required>
    </fieldset>
  </div>

</form>