
  <a href="/profile">Voltar</a>
  <h1>Creating post</h1>
  <form action="/add" method="post">
    <div class="form-control">
      <fieldset class = 'postField'>
        <textarea wrap="hard" name="post" id="" placeholder="What are you thinking right now?" cols="30" rows="3"></textarea>
      </fieldset>
    </div>
    <div class="form-control">
      <button button type="submit">Post</button>
    </div>

  </form>